<div class="container">
  <h2>List Storage Locations</h2>
  <div class="d-flex justify-content-end mt-3">
    <button (click)="onAdd()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addStorageLocationModal">Add</button>
  </div>
  <ng-container *ngIf="storageLocation$ | async as storageLocations">
    <table class="table table-striped table-hover table-bordered mt-3" id="wareTable">
      <thead>
      <tr>
        <th>ID</th>
        <th>Storage Location Name</th>
        <th>Specific Location</th>
        <th>Note</th>
        <th>Edit</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let location of storageLocations">
        <td>{{ location.locationId }}</td>
        <td>{{ location.locationName }}</td>
        <td>{{ location.specificLocation }}</td>
        <td>{{ location.note }}</td>
        <td>
          <button class="btn btn-warning me-2"  (click)="onEdit(location.locationId)" data-bs-toggle="modal" data-bs-target="#updateStorageLocationModal">Update</button>
          <button class="btn btn-danger" (click)="onDelete(location.locationId)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>

  <!-- Modal -->
  <div class="modal fade" id="addStorageLocationModal" tabindex="-1" aria-labelledby="addStorageLocationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addStorageLocationModalLabel">Add New Storage Location</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #form="ngForm" (ngSubmit)="onFormSubmit()">
            <div class="mb-3">
              <label for="locationName" class="form-label">Storage Location Name</label>
              <input
                type="text"
                id="locationNameAdd"
                class="form-control"
                [(ngModel)]="modelAdd.locationName"
                name="locationName"
                required
              />
            </div>
            <div class="mb-3">
              <label for="specificLocation" class="form-label">Specific Location</label>
              <input
                type="text"
                id="specificLocationAdd"
                class="form-control"
                [(ngModel)]="modelAdd.specificLocation"
                name="specificLocation"
                required
              />
            </div>
            <div class="mb-3">
              <label for="note" class="form-label">Note</label>
              <textarea id="noteAdd" class="form-control" [(ngModel)]="modelAdd.note" name="note"></textarea>
            </div>
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-secondary ms-2" (click)="cancelAdd()" data-bs-dismiss="modal">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--update-->
  <div class="modal fade" id="updateStorageLocationModal" tabindex="-1" aria-labelledby="updateStorageLocationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateStorageLocationModalLabel">Update Storage Location</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <ng-container *ngIf="storageLocation;">
          <div class="modal-body">
            <form #form="ngForm" (ngSubmit)="onFormSubmitUpdate()">
              <div class="mb-3">
                <label class="form-label" for="locationId" >Warehouse Name</label>
                <input type="text" id="locationId" class="form-control"
                       name="wareName" value="{{storageLocation.locationId}}" >
              </div>
              <div class="mb-3">
                <label class="form-label" for="locationName" >Location Name</label>
                <input type="text" id="locationName" class="form-control"
                       name="wareName" [(ngModel)]="storageLocation.locationName" >
              </div>
              <div class="mb-3">
                <label class="form-label" for="specificLocation" >Specific Location</label>
                <input type="text" id="specificLocation" class="form-control"
                       name="wareName"  [(ngModel)]="storageLocation.specificLocation"  >
              </div>
              <div class="mb-3">
                <label class="form-label" for="note" >Note</label>
                <input type="text" id="note" class="form-control"
                       name="wareName"  [(ngModel)]="storageLocation.note" >
              </div>
              <button type="submit" class="btn btn-success">Save</button>
              <button type="button" class="btn btn-secondary ms-2" (click)="cancelAdd()" data-bs-dismiss="modal">Cancel</button>
            </form>
          </div>
        </ng-container>

      </div>
    </div>
  </div>
</div>
