<div class="container">
  <input type="text" [formControl]="searchControl" placeholder="Tìm kiếm sản phẩm..." class="form-control mb-3" />

  <ng-container *ngIf="filteredInventorySummary$ | async as inventorySummaries">
    <table class="table table-bordered mt-3">
      <thead>
      <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Location Name</th>
        <th>Specific Location</th>
        <th>Total Import New</th>
        <th>Total Import Old</th>
        <th>Total Export New</th>
        <th>Total Export Old</th>
        <th>Final Stock New</th>
        <th>Final Stock Old</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let inventorySummary of inventorySummaries"
          (contextmenu)="onRightClick($event, inventorySummary)">
        <td>{{inventorySummary.productId}}</td>
        <td>{{inventorySummary.productName}}</td>
        <td>{{inventorySummary.locationName}}</td>
        <td>{{inventorySummary.specificLocation}}</td>
        <td>{{inventorySummary.totalImportNew}}</td>
        <td>{{inventorySummary.totalImportOld}}</td>
        <td>{{inventorySummary.totalExportNew}}</td>
        <td>{{inventorySummary.totalExportOld}}</td>
        <td>{{inventorySummary.finalStockNew}}</td>
        <td>{{inventorySummary.finalStockOld}}</td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="showMenu" class="context-menu" [ngStyle]="{'top.px': menuY, 'left.px': menuX}">
      <button (click)="addProduct()" class="btn btn-primary btn-sm">Thêm Sản Phẩm</button>
    </div>
  </ng-container>
  <ng-template #productModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Thêm Sản Phẩm</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-product-add (productAdded)="refreshInventorySummary()"></app-product-add>
    </div>
  </ng-template>

</div>


